In [1]:
## Assignment Part-1

Q1. Why do we call Python as a general purpose and high-level programming language?

A. As python is used in data science, web development, app development purpose, hence it is called general purpose language
Python is not dependent on hardware architechture of machine , so it is called High Level language

Q2. Why is Python called a dynamically typed language?

A. When any value assigned to a variable, its data type is not required during compilation time. The data type of variable is assigned to it during run time. Hence python is called dynamically typed language.

Q3. List some pros and cons of Python programming language?

A. Pros.:
    *Easy to write code
    *plenty of predefined libraries are available for different operations
    *Cn be used in many different application e.g. app development, web development, data science etc.

--> Cons:
    *As it is a interpreted language, if there is multiple syntatic error then all errors cannot be identified on a single interpretaion of code.
    *The processing time is low as compared to C++ , JAVA etc.

Q5. What are variable and how can we declare them?

Variables are the objects which has a name and certain value. The value of the variable can be accessed by using its name multiple times in a code.

Variable declaration-->
Variable_name = value
e.g.: age = 25

Q6. How can we take an input from the user in Python?

by using the function "input()"

e.g. var = input("Enter any value")

Q7. What is the default datatype of the value that has been taken as an input using input() function?

str

Q8. What is type casting?

Changing the data type of a variable is called type casting

Q9. Can we take more than one input from the user using single input() function? If yes, how? If no, why?

ONLY ONE INPUT cab be taked from user using single input() function. Beacause after giving the required input and after hitting enter the interpreter moves to next line to excute.

Q10. What are keywords?

A. Keywords are the words which are defined in python interpreter and  used by python interpreter to identify the logic written by the user.

Q11. Can we use keywords as a variable? Support your answer with reason.

Keywords cannot be used as a variable, As this will confuse the interpreter to process the logic and the interpreter will throw error.

Q12. What is indentation? What's the use of indentaion in Python?

In Python, the number of space at the starting of every line of code in called Indentaion. Indentation is used by the interpreter to get the start and end of entity.

Q13. How can we throw some output in Python?

In a function "return" keyword is used to throw some output. To show output to user "print()" function is used

Q14. What are operators in Python?

Operators are some symbol or keyword used to porform some operations between two operands.

In [ ]:
Q15. What is difference between / and // operators?

In [ ]:
/ is used for rational division and // used for integer division i.e. result is quotient of the division.

In [ ]:
Q16. Write a code that gives following as an output.
```
iNeuroniNeuroniNeuroniNeuron
```

In [1]:
print("iNeuroniNeuroniNeuroniNeuron")

iNeuroniNeuroniNeuroniNeuron

In [ ]:
Q17. Write a code to take a number as an input from the user and check if the number is odd or even.

In [3]:
num = int(input("Enter a number"))
print("Even") if num%2==0 else print("Odd")

Enter a number5
Odd

In [ ]:
Q18. What are boolean operator?

In [ ]:
When a boolean operators operates on o[perand given output as either True or False

In [ ]:
Q19. What will the output of the following?
```
1 or 0

0 and 0

True and False and True

1 or 0 or 0
```

In [ ]:
1

0

False


1

Q20. What are conditional statements in Python?

The statement that execute a block of code based on certain condion is eiter True or False is called consitional statement e.g. if statement, if...else statement etc...

In [ ]:
Q21. What is use of 'if', 'elif' and 'else' keywords?

In [ ]:
if is used to execute a block of code when a certain condition is true
elif is used to execute a block of code when conditions mentioned above the elif statement becomes False and the elif condition becomes True.
else used to execute a block of code when all other conditions mentioned above the else statement becomes False

In [ ]:
Q22. Write a code to take the age of person as an input and if age >= 18 display "I can vote". If age is < 18 display "I can't vote".

In [8]:
num = int(input("Enter your age"))
print("I can vote") if num>=18 else print("I can't vote")

Enter your age14
I can't vote

In [ ]:
Q23. Write a code that displays the sum of all the even numbers from the given list.
```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [6]:
from functools import reduce
numbers = [12, 75, 150, 180, 145, 525, 50]
sum = reduce((lambda x,y : x+y), numbers)
print(sum)

1137

1137

In [3]:
a = [2,1,-3,0,4,-4,2,-6]
result = [x for x in a]
result

[2, 1, 0, 4, 2]

In [ ]:
Q24. Write a code to take 3 numbers as an input from the user and display the greatest no as output.

In [7]:
num_list=[]
for i in range(3):
    num_list.append(int(input("Enter a number")))

max(num_list)

Enter a number3
Enter a number67
Enter a number23

67

In [ ]:
Q25. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop
```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [10]:
numbers = [12, 75, 150, 180, 145, 525, 50]
new_list=[]
for i in numbers:
    if i>=500:
        break
    elif i%5==0 and i<=150:
        new_list.append(i)
new_list

[75, 150, 145]

In [ ]:
Q26. What is a string? How can we declare string in Python?

Anything written within single or double quotes is a string.
x = "nahsy67$%"

In [ ]:
Q27. How can we access the string using its index?

In [ ]:
by using square brackets
x = "Ase354$%^"
x[6]

In [ ]:

Q28. Write a code to get the desired output of the following
```
string = "Big Data iNeuron"
desired_output = "iNeuron"
```

In [5]:
string = "Big Data iNeuron"
desired_output = string.split(" ")[2]
desired_output

'iNeuron'

In [ ]:
Q29. Write a code to get the desired output of the following
```
string = "Big Data iNeuron"
desired_output = "norueNi"

In [6]:
string = "Big Data iNeuron"
desired_output = string.split(" ")[2][::-1]
desired_output

'norueNi'

In [ ]:
Q30. Resverse the string given in the above question.

In [7]:
string = "Big Data iNeuron"
string[::-1]

'norueNi ataD giB'

Q31. How can you delete entire string at once?

In [ ]:
Strings are immutable. So it cannot be deleted.

In [ ]:
Q32. What is escape sequence?

In [ ]:
Escape sequence are some charecters such as "\n", "\t", "\b" etc...

Q33. How can you print the below string?
```
'iNeuron's Big Data Course'
```

In [11]:
Putting the string in double quote ""
print("'iNeuron's Big Data Course'")

'iNeuron's Big Data Course'

In [ ]:
Q34. What is a list in Python?

In [ ]:
List is data type in python which can store multiple element of different datatypes

In [ ]:
Q35. How can you create a list in Python?

In [ ]:
By using square brackets
my_list = ["Hui", "Byew","0989", 58, 25.24568]

In [ ]:
Q36. How can we access the elements in a list?

In [ ]:
By using square bracket and index of the element
e.g. 
my_list=[1,2,3,4,5,6]
mu_list[3] wil;l return 4

In [ ]:
Q37. Write a code to access the word "iNeuron" from the given list.
```
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
```

In [12]:
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
lst[4][2]

'iNeuron'

Q38. Take a list as an input from the user and find the length of the list.

In [20]:
user_list = input("Enter a list separated with comma").split(",")
len(user_list)

Enter a list separated with comma12,Anshuman

2

Q39. Add the word "Big" in the 3rd index of the given list.
```
lst = ["Welcome", "to", "Data", "course"]
```

In [2]:
lst = ["Welcome", "to", "Data", "course"]
lst.insert(3, 'Big')
lst

['Welcome', 'to', 'Data', 'Big', 'course']

Q40. What is a tuple? How is it different from list?

Tuple is a data type which store values of other datatypes. Tuple is imutable.

Q41. How can you create a tuple in Python?

In [7]:
var_tup = ("One item",) # one item tuple
var_tup2 = (1,2,3,"Apple", "Adam", "Eve")  # Tuple with data
var_tup, var_tup2

(('One item',), (1, 2, 3, 'Apple', 'Adam', 'Eve'))

Q42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.

We cannot add any element to an existing tuple directly as it is imutable.
So we convert tuple to list then add then gain convert list to tuple. In this way we can add.


Q43. Can two tuple be appended. If yes, write a code for it. If not, why?

No. As tuple is imutable

Q44. Take a tuple as an input and print the count of elements in it.

In [10]:
var_tup2 = (1,2,3,"Apple", "Adam", "Eve")

len(var_tup2)

6

Q45. What are sets in Python?

In [ ]:
Sets are collection of unique and un ordered elements.

Q46. How can you create a set?

In [ ]:
a_set = {1,2,3,4,5}

In [ ]:
Q47. Create a set and add "iNeuron" in your set.

In [12]:
big={"BIG", "DATA"}
big.add("INeuron")
big

{'BIG', 'DATA', 'INeuron'}

Q48. Try to add multiple values using add() function.

add() function do not take multiple values as input

Q49. How is update() different from add()?

add() takes single value as input but update() takes an iterable value as input

Q50. What is clear() in sets?

clear() method make the set empty

Q51. What is frozen set?

Frozen set is immutable set

Q52. How is frozen set different from set?

set is mutable but frozen set is immutable

Q53. What is union() in sets? Explain via code.

In [19]:
A = {1,2,3,4}
B = {"Big", 1, "Data", 2}
A.union(B)
# An element is present in either in set A or in set B

{1, 2, 3, 4, 'Big', 'Data'}

Q54. What is intersection() in sets? Explain via code.

In [20]:
A = {1,2,3,4}
B = {"Big", 1, "Data", 2}
A.intersection(B)
# An element is present in set A and in set B

{1, 2}

Q55. What is dictionary ibn Python?

dictionary is similar to map which contains key and value pairs

Q56. How is dictionary different from all other data structures.

dictionary maps one element to another, but other data structure does not.

Q57. How can we delare a dictionary in Python?

In [21]:
var_dict = {}
var_dict_2 = dict()

Q58. What will the output of the following?
```
var = {}
print(type(var))
```

dict

Q59. How can we add an element in a dictionary?

dict_name[key] = value


Q60. Create a dictionary and access all the values in that dictionary.

In [39]:
marvel = {}
marvel["Captain America"] = "Winter Soldier"
marvel["Spider Man"] = "Far from Home"
marvel["Docter Strange"] = "Multiverse of Madness"
marvel["Iron Man"] = 2
marvel["Avenger"] = "Age of Ultron"
for i in marvel.keys():
    print(i,' : ', marvel[i])

Captain America  :  Winter Soldier
Spider Man  :  Far from Home
Docter Strange  :  Multiverse of Madness
Iron Man  :  2
Avenger  :  Age of Ultron

Q61. Create a nested dictionary and access all the element in the inner dictionary.

In [26]:
comics = {
    "Marvel" : {
        "Captain America" : "Winter Soldier",
        "Spider Man" : "Far from Home",
        "Docter Strange" : "Multiverse of Madness"
    },
    "DC" : {
        "Batman" : "Dark Knight",
        "Super man" : "Man of Steel",
        "Wonder Woman" : 1982
    }
}

for i in comics.keys():
    print(i," : ")
    for j in comics[i].keys():
        print("\t",j," : ", comics[i][j])

Marvel  :
	 Captain America  :  Winter Soldier
	 Spider Man  :  Far from Home
	 Docter Strange  :  Multiverse of Madness
DC  :
	 Batman  :  Dark Knight
	 Super man  :  Man of Steel
	 Wonder Woman  :  1982

Q62. What is the use of get() function?

get() take key as input and gives oits coresponding value as output

Q63. What is the use of items() function?

items() gives list of key value pairs in a dict.

Q64. What is the use of pop() function?

pop() removes last element from a list and returns it as output.

pop() takes argument as key and removes that element from dict returns values as output

Q65. What is the use of popitems() function?

popitem() removes the last key-value pair and gives it as output

Q66. What is the use of keys() function?

keys() returns list of all keys in a dicttionary

Q67. What is the use of values() function?

keys() returns list of all values in a dicttionary

Q68. What are loops in Python?

In [ ]:
executing a certains lines of code for required number of times or untill any condition is full filled

Q69. How many type of loop are there in Python?

2 types
for loop
while loop

Q70. What is the difference between for and while loops?

To run a loop for specified number of time we use for loop.
To run a loop untill a certain condition becomes false we use while loop

In [ ]:
Q71. What is the use of continue statement?

In [ ]:
continue moves the point of execution to start of the loop

In [ ]:
Q72. What is the use of break statement?

In [ ]:
break moves the point of execution out of the loop

In [ ]:
Q73. What is the use of pass statement?

pass is used to overcome the function class or loop without showing any error when there ius no statement in it

In [ ]:
Q74. What is the use of range() function?

In [ ]:
it returns range of numbers based on its inputs

In [ ]:
Q75. How can you loop over a dictionary?

In [42]:
marvel = {}
marvel["Captain America"] = "Winter Soldier"
marvel["Spider Man"] = "Far from Home"
marvel["Docter Strange"] = "Multiverse of Madness"
marvel["Iron Man"] = 2
marvel["Avenger"] = "Age of Ultron"
for i in marvel.keys():
    print(i,' : ', marvel[i])

Captain America  :  Winter Soldier
Spider Man  :  Far from Home
Docter Strange  :  Multiverse of Madness
Iron Man  :  2
Avenger  :  Age of Ultron

In [ ]:
### Coding problems
Q76. Write a Python program to find the factorial of a given number.

In [44]:
num = int(input("Enter a number"))
fact=1
for i in range(1,num+1):
    fact*=i
fact

Enter a number5

120

In [ ]:
Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (P*R*T)/100

In [47]:
P = int(input("Enter principal amount"))
T = int(input("Enter time period"))
R = int(input("Enter rate of intereat"))

I = P*T*R/100

I

Enter principal amount1000
Enter time period10
Enter rate of intereat20

2000.0

Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.

In [2]:
from math import pow
P = int(input("Enter principal amount "))
t = int(input("Enter time period "))
R = int(input("Enter rate of intereat "))

A = P * pow((1+ R/100),t)
A

Enter principal amount1
Enter time period1
Enter rate of intereat1

1.01

In [ ]:
Q79. Write a Python program to check if a number is prime or not.

In [4]:
n = int(input("Enter a number"))

for i in range(2,n):
    if n%i == 0:
        print(n, "Is not a prime number")
        break
else:
    print(n, "is a prime number")

Enter a number19
19 is a prime number

In [ ]:
Q80. Write a Python program to check Armstrong Number.

In [25]:
from math import pow
n_str = input("Enter a number ")
n= int(n_str)
d_str = [i for i in n_str]
d = map(int, d_str)
ln = len(n_str)
sum_n=0
for i in d:
    sum_n+=pow(i,ln)
if sum_n == n:
    print("Armstrong Number")
else:
    print("NOT Armstrong Number")

Enter a number 153
153.0
Armstrong Number

Q81. Write a Python program to find the n-th Fibonacci Number.

In [33]:
n = int(input("Enter a number"))
fab_1=0
fab_2=1
for i in range(2,n):
    temp = fab_1+fab_2
    fab_1 = fab_2
    fab_2=temp
fab_2

Enter a number123

14028366653498915298923761

Q82. Write a Python program to interchange the first and last element in a list.

In [34]:
glist = [12, 23, 34, 45, 56, 67, 78, 90]
temp = glist[0]
n= len(glist)
glist[0] = glist[n-1]
glist[n-1] = temp
glist

[90, 23, 34, 45, 56, 67, 78, 12]

In [ ]:
Q83. Write a Python program to swap two elements in a list.

In [35]:
glist = [12, 23, 34, 45, 56, 67, 78, 90]
inx1=int(input("Enter first index"))
inx2=int(input("Enter second index"))
temp = glist[inx1]
glist[inx1] = glist[inx2]
glist[inx2] = temp
glist

Enter first index2
Enter second index4

[12, 23, 56, 45, 34, 67, 78, 90]

Q84. Write a Python program to find N largest element from a list.

In [3]:
glist = [12, 23, 34, 45, 56, 67, 78, 90]
n = int(input("Enter a number"))
if len(glist) <=n:
    print(glist)
else:
    maxlist=[]
    for i in range(n):
        max_elm = max(glist)
        glist.remove(max_elm)
        maxlist.append(max_elm)
    print(maxlist)

Enter a number4
[90, 78, 67, 56]

In [ ]:
Q85. Write a Python program to find cumulative sum of a list.

In [1]:
glist = [12, 23, 34, 45, 56, 67, 78, 90]
cumlist=[]
for i in range(1,len(glist)+1):
    cumlist.append(sum(glist[:i]))
cumlist

[12, 35, 69, 114, 170, 237, 315, 405]

In [ ]:
Q86. Write a Python program to check if a string is palindrome or not.

In [4]:
instr = input("Enter a string  -> ")
if instr==instr[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter a string  -> dad
Palindrome

Q87. Write a Python program to remove i'th element from a string.

In [8]:
instr = input("Enter a string  -> ")
i = int(input("Enter index -> "))
if i > len(instr):
    print("Wrong input")
else:
    print(instr[:i-1]+instr[i:])

Enter a string  -> asdfghj
Enter index -> 4
asdghj

Q88. Write a Python program to check if a substring is present in a given string.

In [10]:
instr = input("Enter a string  -> ")
insubstr = input("Enter sub string -> ")
if insubstr in instr:
    print("Present")
else:
    print("Absent")

Enter a string  -> abcdefg
Enter sub string -> cd
Present

In [ ]:
Q89. Write a Python program to find words which are greater than given length k.

In [11]:
instr = input("Enter a word  -> ")
k = int(input("Enter length -> "))

if len(instr) > k:
    print("TRUE")
else:
    print("FALSE")

Enter a word  -> wasgdhsh
Enter length -> 123
FALSE

In [ ]:
Q90. Write a Python program to extract unquire dictionary values.

In [12]:
gdict = {
    "A" : 4,
    "B" : 6,
    "C" : 3,
    "E" : 6,
    "F" : 7,
}
unq=[]
for i in gdict.values():
    if i not in unq:
        unq.append(i)
unq

[4, 6, 3, 7]

In [ ]:
Q91. Write a Python program to merge two dictionary.

In [2]:
gdict1 = {
    "A" : 4,
    "B" : 6,
}
gdict2 = {
    "C" : 3,
    "E" : 6,
    "F" : 7,
}

gdict1.update(gdict2)
gdict1

{'A': 4, 'B': 6, 'C': 3, 'E': 6, 'F': 7}

In [ ]:
Q92. Write a Python program to convert a list of tuples into dictionary.
```
Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}
```

In [4]:
Input = [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
# Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}
def pair_to_dict(pair):
    return {pair[0] : pair[1]}
yedict={}
for i in Input:
    yedict.update(pair_to_dict(i))
yedict

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.
```
Input: list = [9, 5, 6]
Output: [(9, 729), (5, 125), (6, 216)]
```

In [5]:
Input=[9, 5, 6]
output=[]
for i in Input:
    output.append((i,i**3))
output

[(9, 729), (5, 125), (6, 216)]

Q94. Write a Python program to get all combinations of 2 tuples.
```
Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)
Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]
```

In [8]:
tup1=(7,2)
tup2=(7,8)
output=[]
for i in tup1:
    for j in tup2:
        output.append((i,j))
        output.append((j,i))
output

[(7, 7), (7, 7), (7, 8), (8, 7), (2, 7), (7, 2), (2, 8), (8, 2)]

In [ ]:
Q95. Write a Python program to sort a list of tuples by second item.
```
Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]
```

In [34]:
Input = [('for', 24), ('Geeks', 8), ('Geeks', 30)] 

key = [x[1] for x in Input]
[x for x, _ in sorted(zip(Input, key))]

[('Geeks', 8), ('Geeks', 30), ('for', 24)]

In [ ]:
Q96. Write a python program to print below pattern.
```
* 
* * 
* * * 
* * * * 
* * * * * 
```

In [38]:
for i in range(5):
    for j in range(i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
Q97. Write a python program to print below pattern.
```
    *
   **
  ***
 ****
*****
```

In [46]:
for i in range(6,0,-1):
    for j in range(i+1):
        print(" ", end="")
    for k in range(6-i):
        print("*", end="")
    print()

      *
     **
    ***
   ****
  *****

In [ ]:
Q98. Write a python program to print below pattern.
```
    * 
   * * 
  * * * 
 * * * * 
* * * * * 
```

In [47]:
for i in range(6,0,-1):
    for j in range(i+1):
        print(" ", end="")
    for k in range(6-i):
        print("*", end=" ")
    print()

      *
     * *
    * * *
   * * * *
  * * * * *

In [ ]:

Q99. Write a python program to print below pattern.
```
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
```

In [50]:
for i in range(1,7):
    for j in range(1,i):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:

Q100. Write a python program to print below pattern.
```
A 
B B 
C C C 
D D D D 
E E E E E 
```

In [53]:
charlist=["A", "B", "C", "D", "E"]
for i in range(len(charlist)):
    for j in range(i+1):
        print(charlist[i], end=" ")
    print()

A
B B
C C C
D D D D
E E E E E